{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Changement de rôle : {{ user.username }} </h1>
        {{  form_start(editForm) }}
        {{  form_widget(editForm) }}
        <input type="submit" class="btn btn-primary form-control" value="Modifier">
        {{  form_end(editForm) }}
    </div>
{% endblock %}
