{% extends 'base.html.twig' %}

{% block body %}
<h1>Modification d'un article</h1>


    {{ form_start(editForm) }}
    {{ form_widget(editForm) }}
    <input type="submit" value="Modifier l'article" class="btn btn-success">
    {{ form_end(editForm) }}
{% endblock %}

{% block title %}

{% endblock %}

